config
install.log
install.sum
y.tab.c
y.tab.h
*.o
o.*
.DS_Store
bin/*
lib*a
src/cmd/awk/proctab.c
src/cmd/awk/y.output
src/cmd/bc.tab.c
src/cmd/bc.tab.h
src/cmd/delatex.c
src/cmd/devdraw/o.devdraw
src/cmd/devdraw/latin1.h
src/cmd/eqn/eqn.c
src/cmd/eqn/prevy.tab.h
src/cmd/grap/grap.c
src/cmd/grap/grapl.c
src/cmd/jpg/rgbv.h
src/cmd/jpg/ycbcr.h
src/cmd/pic/picl.c
src/cmd/pic/picy.c
src/cmd/rc/x.tab.h
src/cmd/tpic/picy.c
src/cmd/units.tab.c
src/cmd/units.tab.h
